<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Virtual Assistant</title>
  <link rel="stylesheet" href="../static/style.css" type="text/css">
</head>

<body>
  
  <div id="text"></div>
  <div id="assistant"></div>
  <div id="data"></div>


  <script src="../static/script.js"></script>
  <script src="../static/weather.js"></script>
  <script src="../static/travel_time.js"></script>
  <script src="../static/speak_to_me.js"></script>
  
</body>

</html>