<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Virtual Assistant</title>
  <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>
  <div id="text"></div>
  <div id="assistant"></div>
  <div id="data"></div>


  <script src="script.js"></script>
  <script src="weather.js"></script>
  <script src="travel_time.js"></script>
  <script src="speak_to_me.js"></script>

</body>

</html>